<!DOCTYPE html>
<html>
  <head>
    <title>Rails Stripe Sandbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
  <%= link_to 'Top', root_path %>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <%= "ログイン中(#{current_user.email})"%>
  <% else %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= any_login_here if defined?(AnyLogin) %>
  </body>
</html>
